<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>FindMyRecycling</title>
</head>
<body>

    <div class="header">
    <p>FindMyRecycling</p>
    </div>

    <ul class="nav">
        <li><a href="index.html">Search</a></li>
        <li><a href="addFacility.html">Add Faculty</a></li>
    </ul>

    <form action="#" th:action="@{/facility}" method="GET">
    <div class="box">
        <p>Search for a recycling facility center near you!</p>


        <label for="recycleMaterial"></label>
        <input type="text" id="recycleMaterial" name="materialName" placeholder="Recyclable Material" th:field="*{recyclableMaterial.materialName}">

        <label for="location"></label>
        <input type="text" id="location" name="recycleLocation" placeholder="Location">

        <input type="submit" value="Search" name="searchTerm">

    </div>
    </form>

    <div class="box2">
        <p>List of Facility's</p>
        <p th:text="${facility}"></p>

    </div>




</body>
</html>