<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>FindMyRecycling</title>
</head>
<body>

    <div class="header">
    <p>FindMyRecycling</p>
    </div>

    <div th:replace="/fragments/nav"></div>

    <form th:action="@{/facilities/search/}" method="POST">
        <div class="box">
            <p>Search for a recycling facility center near you!</p>

            <input type="text" id="recycleMaterial" name="materialName" placeholder="Recyclable Material">
            <input type="text" id="location" name="recycleLocation" placeholder="Location" th:value="${searchTerm}">

            <input type="submit" value="Search" name="searchTerm">

        </div>
    </form>

    <div class="box2">
        <p>List of Facility's</p>
        <p th:text="${facilityList}"></p>
    </div>

</body>
</html>